.card-header {
   text-align: center;
}
.table {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.table>:not(:first-child) {
   border-top: none;
}
.table-item {
   flex: 0 0 29%;
   background-color:blanchedalmond;
   margin: 10px;
   padding:10px;
}
// .card-detail {
//    display: flex;
//    flex-direction: column;
//    justify-content: space-evenly;
//    align-items: flex-start;
//    background-color: aqua;
// }