.card-header {
   text-align: center;
}
.card-subtitle {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
// .card-detail {
//    display: flex;
//    flex-direction: column;
//    justify-content: space-evenly;
//    align-items: flex-start;
//    background-color: aqua;
// }