<div class='card'>
   <div class='card-header'>
      {{pageTitle}}
   </div>
   <div class='card-body'>
     <div class='row'>
       <div class='col-md-2'>Filter by:</div>
       <div class='col-md-4'>
         <input type='text' [(ngModel)]='listFilter'/>
       </div>
     </div>
     <div class='row'>
       <div class='col-md-6'>
         <h4>Filtered by: {{ listFilter }}</h4>
       </div>
     </div>
     <div class='table-responsive' *ngIf="products.length">
        <button class='btn btn-primary' (click)="toggleImage()">
         {{showImage ? 'Hide' : 'Show'}} Image
        </button>
        <div class="card-subtitle">
          <ul class='table'>
            <li class="table-item" *ngFor="let product of products">
                <div class='card-detail'>
                  <p class="">Name: {{product.name }}</p>
                  <p class="">Target: {{product.target | uppercase}}</p>
                  <p class="">Body part: {{product.bodyPart}}</p>
                  <p class="">Equipment: {{product.equipment}}</p>
                </div>
                <img *ngIf="showImage" [src]='product.imageUrl' [alt]='product.name' [style.width.px]="imageWidth" [style.margin.px]="imageMargin">
            </li>
          </ul>
        </div>
     </div>
   </div>
 </div>
